{% extends 'base.html' %}

{% block content %}
  <h1>MIPMLP</h1>
<section class="content">
  <form method="post"  enctype=multipart/form-data class="">
    {% macro build_option(name, selected_att) -%}
    {% if name == selected_att %}
      <option value="{{ name }}" selected="selected">{{name}}</option>
    {% else %}
      <option value="{{ name }}">{{name}}</option>
    {% endif %}
    {%- endmacro %}

    <script>

    function input_format_manager(biom) {
        const otu_table = document.getElementById("otu_table_div");
        const taxonomy = document.getElementById("taxonomy_file_div");
        const otu_csv = document.getElementById("otu_csv_div");

        if (! biom) {
            document.getElementById("biom_button").style.backgroundColor='#FFFFFF'
            document.getElementById("csv_button").style.backgroundColor='#D4F9FF'
            otu_table.style.display = "none";
            taxonomy.style.display = "none";
            otu_csv.style.display = "block";
        } else {
            document.getElementById("biom_button").style.background='#D4F9FF'
            document.getElementById("csv_button").style.background='#FFFFFF'
            otu_table.style.display = "block";
            taxonomy.style.display = "block";
            otu_csv.style.display = "none";
        }
    }

    </script>

    <button id="biom_button" type="button" onclick="input_format_manager(true)">otu.biom and taxonomy.tsv</button>
    <button id="csv_button" type="button" onclick="input_format_manager(false)">otu.csv with taxonomy included</button>

    <br>

    <br>

    <div id="otu_csv_div">
      <label for="otu_csv">Select OTU csv:</label>
      <input type=file id="otu_csv" name="otu_csv" value="{{otu_csv}}">
      <br><br>
    </div>

    <div id="otu_table_div">
      <label for="otu_table">Select OTU table:</label>
      <input type=file id="otu_table" name="otu_table" value="{{otu_table}}">
        <br><br>
    </div>

    <div id="taxonomy_file_div">
      <label for="taxonomy_file">Select taxonomy file:</label>
      <input type=file id="taxonomy_file" name="taxonomy_file" value="{{taxonomy_file}}">
        <br><br>
    </div>

    <script>
        input_format_manager(true)
    </script>

    <div>
      <label for="tag_file">Select Tag file:</label>
      <input type=file id="tag_file" name="tag_file" value="{{tag_file}}">
    </div>

    <br>

    <div>
      <label for="taxonomy_level">Taxonomy Level</label>
      <select name="taxonomy_level" id="taxonomy_level">
        {{ build_option('Order', taxonomy_level) }}
        {{ build_option('Family', taxonomy_level) }}
        {{ build_option('Genus', taxonomy_level) }}
        {{ build_option('Specie', taxonomy_level) }}
      </select>
    </div>

    <br>

    <div>
      <label for="taxnomy_group">Taxnomy Group</label>
      <select name="taxnomy_group" id="taxnomy_group">
        {{ build_option('Mean', taxnomy_group) }}
        {{ build_option('Sum', taxnomy_group) }}
        {{ build_option('Sub-PCA', taxnomy_group) }}
      </select>
    </div>

    <br>

    <div>
      <label for="epsilon">Epsilon</label>
      {% if epsilon is not defined %}
        {% set epsilon = 0.1 %}
      {% endif %}
      <input type="number" min="0" max="1" step="any" name="epsilon" id="epsilon" value="{{epsilon}}">

    </div>

    <br>

    <div>
      <label for="z_scoring">Z Scoring following Log normalization</label>
      <select name="z_scoring" id="z_scoring">
        {{ build_option('Row', z_scoring) }}
        {{ build_option('Column', z_scoring) }}
        {{ build_option('Both', z_scoring) }}
        {{ build_option('None', z_scoring) }}
      </select>
    </div>

    <br>

    <div>
      <label for="PCA">Dimension reduction</label>
      <select name="PCA" id="PCA">
        {{ build_option('PCA', PCA) }}
        {{ build_option('ICA', PCA) }}
        {{ build_option('None', PCA) }}
      </select>
      <label for="comp">Number of components</label>
      {% if comp is not defined %}
        {% set comp = 1 %}
      {% endif %}
      <input type="number" id="comp" name="comp" min="-1" step="1" value="{{comp}}" required>
    </div>

    <br>

    <div>
      <label for="normalization">Normalization</label>
      <select name="normalization" id="normalization">
        {{ build_option('Log', normalization) }}
        {{ build_option('Relative', normalization) }}
      </select>
    </div>

    <br>

    <div>
      <label for="norm_after_rel">Z Scoring following relative frequency</label>
      <select name="norm_after_rel" id="norm_after_rel">
        {{ build_option('No', norm_after_rel) }}
        {{ build_option('Yes', norm_after_rel) }}
      </select>
    </div>

    <br>

    <input type="submit" value="calculate" onclick="calculating();">
  </form>

    {% for message in get_flashed_messages() %}
{#    {% if message == "The number of components should be -1 or positive integer (not 0)." %}#}
    <p style="color: red">{{ message }}</p>
{#    {% endif %}#}
    {% endfor %}

    <p id="txt_mes" ></p>

    <script>

    function calculating() {
        document.getElementById("txt_mes").innerHTML = "Calculating...";
    }

    function remove_mes() {
        document.getElementById("txt_mes").innerHTML = "";
    }

    function image_page() {
      open(URL="{{ '/' + 'Results' }}")
    }

    </script>

  <style>
  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  </style>



  {% if images_names is defined %}

      <script>
      remove_mes()
      image_page()
      </script>

  {% endif %}

</section>

{% endblock %}